@if (href)
  <a href="{{ href }}" class="btn {{ className }}" {{ attrs }}>
    {{{ await $slots.main() }}}
  </a>
@else
  <button type="{{ type ?? 'button' }}" class="btn {{ className }}" {{ attrs }}>
    {{{ await $slots.main() }}}
  </button>
@endif