<div class="form-control">
  <label class="label cursor-pointer">
    <span class="label-text">{{ label }}</span> 
    <input 
      type="checkbox" 
      class="checkbox checkbox-primary" 
      name="{{ name }}" 
      {{{ checked ? 'checked=checked' : '' }}} 
    />
  </label>
</div>