<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our AdonisJS Changelog Application</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  @!header()

  <div class="container mx-auto px-4">
    @!section('content')
  </div>
</body>
</html>
